contact {
  ion-navbar {
    .toolbar-title {
      color: #00BCD4;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #00BCD4;
    }

    .toolbar-title {
      color: #fff;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }

  ion-content {
    ion-card {
      color: #fff;
      padding: 15px 10px;
      text-align: center;

      ion-label {
        color: #757575;
      }

      .card-title {
        font-size: 17px;
      }

      ion-label.card-subtitle {
        color: #757575;
      }

      .card-subtitle {
        font-size: 11px;
      }

      ion-icon {
        font-size: 35px;
      }
    }

    .twitter {
      background-color: #41A2F6;
      float: left;
      width: 42%;
    }

    .facebook {
      background-color: #405A9A;
    }

    .instagram {
      background-color: #3E3C47;
      float: left;
      margin-top: 12px;
      width: 42%;
    }

    .whatsapp {
      background-color: #359D00;
      float: left;
      width: 42%;
    }

    .mail {
      background-color: #D54635;
      float: left;
      width: 42%;
    }

    .info {
      background-color: #E4A100;
    }
  }
}
