<ion-header>
  <ion-navbar>
    <ion-title>
      Nuestras redes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="twitter">
    <a href="http://twitter.com/KiiNitroFitness">
      <ion-icon name="logo-twitter" item-left></ion-icon>
      <div class="card-title">@KiinitroFitness</div>
    </a>
  </ion-card>
  <ion-card class="instagram">
    <a href="http://instagram.com/kiinitro.fitness">
      <ion-icon name="logo-instagram" item-left></ion-icon>
      <div class="card-title">@kiinitro.fitness</div>
    </a>
  </ion-card>
  <ion-card class="whatsapp">
    <ion-icon name="logo-whatsapp" item-left></ion-icon>
    <div class="card-title">(+57) 318 399 1022</div>
  </ion-card>
  <ion-card class="mail">
    <a href="mailto:kiinitro@gmail.com">
      <ion-icon name="mail" item-left></ion-icon>
      <div class="card-title">kiinitro</div>
      <div class="card-subtitle">@gmail.com</div>
    </a>
  </ion-card>
  <ion-card class="facebook">
    <a href="http://facebook.com/kiinitro.fitness">
      <ion-icon name="logo-facebook" item-left></ion-icon>
      <div class="card-title"><a href="http://facebook.com/kiinitro.fitness">Facebook</a></div>
    </a>
  </ion-card>
  <ion-card class="youtube">
    <a href="https://www.youtube.com/channel/UCMImDfcSw0IAj8fcw74m5AA">
      <ion-icon name="logo-youtube" item-left></ion-icon>
      <div class="card-title"><a href="https://www.youtube.com/channel/UCMImDfcSw0IAj8fcw74m5AA">Youtube</a></div>
    </a>
  </ion-card>
  <ion-card>
    <ion-label>Powered by @KiinitroTeam</ion-label>
    <ion-label class="card-subtitle">v20179131</ion-label>
  </ion-card>
</ion-content>
