<ion-header>
  <ion-navbar>
    <ion-title>
      Nuestras redes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="twitter">
    <ion-icon name="logo-twitter" item-left></ion-icon>
    <div class="card-title">@kiinitro</div>
    <div class="card-subtitle">Twitter</div>
  </ion-card>
  <ion-card class="instagram">
    <ion-icon name="logo-instagram" item-left></ion-icon>
    <div class="card-title">@kiinitro</div>
    <div class="card-subtitle">Instagram</div>
  </ion-card>
  <ion-card class="whatsapp">
    <ion-icon name="logo-whatsapp" item-left></ion-icon>
    <div class="card-title">3003456789</div>
    <div class="card-subtitle">Whatsapp</div>
  </ion-card>
  <ion-card class="mail">
    <ion-icon name="mail" item-left></ion-icon>
    <div class="card-title">kiinitro</div>
    <div class="card-subtitle">@gmail.com</div>
  </ion-card>
  <ion-card class="facebook">
    <ion-icon name="logo-facebook" item-left></ion-icon>
    <div class="card-title">http://facebook.com/kiinitro.fitness</div>
    <div class="card-subtitle">Facebook</div>
  </ion-card>
  <ion-card>
    <ion-label>Powered by @KiinitroTeam</ion-label>
    <ion-label class="card-subtitle">v20179131</ion-label>
  </ion-card>
</ion-content>
