rutine {
  ion-navbar {
    .toolbar-background {
      background-color: #fff;
      border: none !important;
    }

    .toolbar-title {
      color: #44500D;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #FFF;
      border-bottom: 0.5px solid #EEE !important;
    }

    .toolbar-content {
      button {
        background-color: #BDD80F;
        border-radius: 3px;
        color: #44500D;
        float: right;
        font-size: 11px;
        height: 30px;
        text-align: center;
        width: 60px !important;
      }

      button.session-button {
        position: absolute;
        right: 10px;
        top: 0;
      }
    }

    .title {
      .toolbar-title {
        color: #2F2F2F;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }

  ion-content {
    ion-card {
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      margin-top: -30px !important;

      ion-col.col {
        width: 33% !important;

        .button-inner {
          font-size: 11px;
        }
      }
    }
  }

  .final-screen {
    ion-card {
      margin-top: 80px !important;
      text-align: center;

      .card-title {
        color: #757575;
      }

      button {
        background-color: #BDD80F;
        border-radius: 2px;
        color: #44500D;
        float: right;
        font-size: 11px;
        height: 30px;
        text-align: center;
        width: 100%;
      }

      .card-subtitle {
        color: #757575;
        font-size: 11px;
        text-decoration: underline;
      }
    }
  }
}
