rutine {
  ion-navbar {
    .toolbar-background {
      background-color: #fff;
      border: none !important;
    }

    .toolbar-title {
      color: #44500D;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #DEE4BF;
      border: none !important;
    }

    .title {
      padding: 0 10px !important;

      .toolbar-title {
        color: #2F2F2F;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }

  ion-content {
    .button-container {
      text-align: center;

      button.session-button {
        background-color: #BDD80F !important;
        color: #44500D;
        font-size: 12px;
      }

      button.session-button-2 {
        background-color: #CCC !important;
        border-radius: 3px;
        font-size: 12px;
        height: 30px;
      }
    }

    ion-card {
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      margin-top: -30px !important;

      ion-col.col {
        width: 33% !important;

        .button-inner {
          font-size: 11px;
        }
      }
    }
  }

  .final-screen {
    ion-card {
      margin-top: 80px !important;
      text-align: center;

      .card-title {
        color: #757575;
      }

      .card-subtitle {
        color: #757575;
        text-decoration: underline;
      }
    }
  }
}
