<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isFinished && session.current.nombre">{{ session.current.nombre }}</ion-title>
    <ion-title *ngIf="!isFinished && session.current.vchName">{{ session.current.vchName }}</ion-title>
    <ion-title *ngIf="isFinished">¡Felicitaciones!</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="!isFinished">
    <ion-title>{{ session.current.musculo }}</ion-title>
    <button *ngIf="(this.session.data.place === 'Gimnasio' && lastItem != session.current.id) || (session.data.place === 'Casa' && session.currentCicle < 3)" (click)="goNext()" class="session-button" ion-button>Siguiente</button>
    <button *ngIf="(session.data.place === 'Gimnasio' && lastItem == session.current.id) || (session.data.place === 'Casa' && session.currentCicle >= 3)" (click)="finish()" class="session-button" ion-button>Finalizar</button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isFinished" padding>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col *ngIf="session.data.place === 'Gimnasio'">
          <button class="series" ion-button icon-left clear small>
            <ion-icon name="more"></ion-icon>
            <div>
              <ng-container *ngIf="session.data.time == '0 - 5 meses'">
                {{ session.current.series[5].N }}
              </ng-container>
              <ng-container *ngIf="session.data.time == '6 - 11 meses' || session.data.time == '12 o más'">
                {{ session.current.series[11].N }}
              </ng-container>
              series
            </div>
          </button>
        </ion-col>
        <ion-col>
          <button class="series" ion-button icon-left clear small>
            <ion-icon name="refresh"></ion-icon>
            <div *ngIf="session.data.place === 'Gimnasio'">
              <ng-container *ngIf="session.data.time == '0 - 5 meses'">
                {{ session.current.repeticiones[5].N }}
              </ng-container>
              <ng-container *ngIf="session.data.time == '6 - 11 meses'">
                {{ session.current.repeticiones[11].N }}
              </ng-container>
              <ng-container *ngIf="session.data.time == '12 o más'">
                12
              </ng-container>
            </div>
            <div *ngIf="session.data.place === 'Casa'">
              {{ session.current.iRepetition }}
            </div>
            rep.
          </button>
        </ion-col>
        <ion-col>
          <button class="series" ion-button icon-left clear small>
            <ion-icon name="hand"></ion-icon>
            <div *ngIf="session.current.rest">
              {{ session.current.rest }}
              s.
            </div>
            <div *ngIf="!session.current.rest">
              30
              s.
            </div>
          </button>
        </ion-col>
      </ion-row>
      <p *ngIf="session.data.place === 'Gimnasio'" class="respiracion">Respiración: {{ session.current.respiracion }}</p>
      <p *ngIf="session.data.place === 'Casa'" class="respiracion"><strong>{{ 'level' | translate }}:</strong> {{ session.current.vchLevel }} | <strong>Ciclo:</strong> <ng-container *ngIf="session.currentCicle + 1 <= 3">{{ session.currentCicle + 1 }}</ng-container><ng-container *ngIf="session.currentCicle + 1 > 3">3</ng-container>/3</p>
      <img *ngIf="session.current.gif" [src]="session.current.gif">
      <img *ngIf="session.current.imgGif" [src]="session.current.imgGif">
      <div *ngIf="session.data.place === 'Gimnasio'">
        <h2>Tips</h2>
        <ol>
          <li *ngFor="let tip of session.current.tips">{{ tip.S }}</li>
        </ol>
      </div>
      <div *ngIf="session.data.place === 'Casa'">
        <br />
        <h2>{{ 'descripcion' | translate }}</h2>
        <p>{{ session.current.vchDescription }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content class="final-screen" *ngIf="isFinished" padding>
  <ion-content class="card-background-page">
    <ion-card>
      <img src="./assets/img/icon.png"/>
      <div class="card-title">¡Has finalizado tu entrenamiento!</div>
      <br />
      <div class="button-container">
        <button (click)="rate()" class="session-button" ion-button>Quiero más sesiones</button>
      </div>
      <br />
      <br />
      <br />
      <div (click)="goBack()" class="card-subtitle">Terminar</div>
    </ion-card>
    <br />
    <br />
    <br />
    <div class="stretching-exercises">Ejercicios de estiramiento</div>
    <ion-item>
      <ion-label>M&uacute;sculo</ion-label>
      <ion-select [(ngModel)]="session.stretchData.muscles" multiple="true">
        <ion-option *ngFor="let muscle of session.stretchData.allMuscles" [value]="muscle.valueName">{{ muscle.name }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="button-container">
      <button (click)="getStretching()" class="session-button" ion-button>Ver estiramiento</button>
    </div>
    <br />
    <br />
    <br />
  </ion-content>
</ion-content>
