<ion-header>
  <ion-navbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>Kiinitro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="slides-container">
    <ion-slides pager>
      <ion-slide>
        <!--<img src="../../../assets/img/bienestar.jpg"/>-->
        <div>Bienestar</div>
      </ion-slide>

      <ion-slide>
        <!--<img src="../../../assets/img/inspiracion.jpg"/>-->
        <div>Inspiración</div>
      </ion-slide>
      <ion-slide>
        <!--<img src="../../../assets/img/motivacion.png"/>-->
        <div>Motivación</div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="container-view">
    <div class="team" (click)="showTeam();">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Equipo</ion-label>
    </div>
    <div class="services" (click)="showServices();">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Servicios</ion-label>
    </div>
    <div class="benefits" (click)="showBenefits();">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Beneficios</ion-label>
    </div>
    <div class="favorites" (click)="showExtras();">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>#MeEncanta</ion-label>
    </div>
  </div>
</ion-content>
