<ion-header>
  <ion-navbar>
    <ion-title>
      Sobre nosotros
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>¿Qué queremos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="slides-container">
    <ion-slides pager>
      <ion-slide class="bienestar">
        <!--<img src="../../../assets/img/bienestar.jpg"/>-->
        <div>Bienestar</div>
      </ion-slide>

      <ion-slide class="inspiracion">
        <!--<img src="../../../assets/img/inspiracion.jpg"/>-->
        <div>Inspiración</div>
      </ion-slide>
      <ion-slide class="motivacion">
        <!--<img src="../../../assets/img/motivacion.png"/>-->
        <div>Motivación</div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="container-view">
    <div class="team">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Equipo</ion-label>
    </div>
    <div class="services">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </div>
    <div class="benefits">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Beneficios</ion-label>
    </div>
    <div class="favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>#MeEncanta</ion-label>
    </div>
  </div>
</ion-content>
