session-item {
  ion-toolbar {
    .toolbar-background {
      background-color: #00BCD4;
    }

    .toolbar-title {
      color: #fff;
      font-size: 1.3rem;
      font-weight: normal;
    }

    ion-buttons {
      button {
        span {
          color: #fff;
        }
      }
    }
  }

  ion-content {
    .button-container {
      text-align: center;

      button.session-button {
        background-color: #00BCD4 !important;
      }
    }

    ion-card {
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }

    ion-col {
      .series {
        color: #00BCD4;
      }
    }

    .respiracion {
      font-size: 12px;
      padding: 0 15px;
    }
  }
}
