session-item {
  ion-toolbar {
    .toolbar-background {
      background: url('../../../assets/images/header-profile-skin-1.png');
    }

    .toolbar-title {
      color: #fff;
    }
  }

  ion-content {
    .button-container {
      text-align: center;

      button.session-button {
        background-color: #1784C7 !important;
      }
    }
  }
}
