team {
  ion-navbar {
    .toolbar-background {
      background-color: #fff;
      border: none !important;
    }

    .toolbar-title {
      color: #44500D;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #fff;
    }

    .title {
      padding: 0 10px !important;

      .toolbar-title {
        color: #44500D;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }

  ion-content {
    ion-list {
      ion-item.item {
        background-color: #2E8F4C;
        color: #fff;

        .item-inner {
          border: none !important;
        }

        ion-avatar {

        }
      }

      ion-item.monica {
        background-color: #5AB04B;
      }

      ion-item.nestor {
        background-color: #70BB66;
      }

      ion-item.warrdnez {
        background-color: #288040;
      }
    }
  }
}
