<ion-header>
  <ion-toolbar>
    <ion-title>
      Item #{{ session.catalogItem.id }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-label>{{ session.catalogItem.nombre }}</ion-label>
  </div>
  <ion-card>
    <img [src]="session.catalogItem.img">
    <ion-item>
      <ion-icon name="information-circle-outline" item-start large></ion-icon>
      <h2>{{ 'descripcion' | translate }}</h2>
      <p>{{ session.catalogItem.desc }}</p>
    </ion-item>

    <ion-item *ngIf="session.catalogItem.pasos && session.catalogItem.pasos.length > 0">
      <ion-icon name="list" item-left large ></ion-icon>
      <h2>{{ 'pasos' | translate }}</h2>
      <ul>
        <li *ngFor="let paso of session.catalogItem.pasos">{{ paso.S }}</li>
      </ul>
    </ion-item>

    <ion-item *ngIf="session.catalogItem.int">
      <ion-icon name="list" item-left large ></ion-icon>
      <h2>{{ 'intensity' | translate }}</h2>
      <p>
        {{ session.catalogItem.int }}
      </p>
    </ion-item>

    <!--<ion-item>
      <button ion-button icon-left clear item-end>
        <ion-icon name="navigate"></ion-icon>
        Start
      </button>
    </ion-item>-->

  </ion-card>
</ion-content>
