<ion-header>
  <ion-navbar>
    <ion-title>Kiinitro Fitness</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide class="bienestar">
      <img src="../../../assets/img/bienestar.jpg"/>
      <h2>Bienestar</h2>
    </ion-slide>

    <ion-slide class="inspiracion">
      <img src="../../../assets/img/inspiracion.jpg"/>
      <h2>Inspiración</h2>
    </ion-slide>

    <ion-slide class="motivacion">
      <img src="../../../assets/img/motivacion.png"/>
      <h2>Motivación</h2>
    </ion-slide>
  </ion-slides>
</ion-content>
