dictionary {
  ion-navbar {
    .toolbar-background {
      background-color: #fff;
      border: none !important;
    }

    .toolbar-title {
      color: #44500D;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #FFF;
      border-bottom: 0.5px solid #EEE !important;
    }

    .search-container {
      position: relative;
      padding: 0 20px;

      input {
        border: 1px solid #DDD;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px 0 30px;
        width: 100%;
      }

      ion-icon {
        color: #CCC;
        height: 30px;
        left: 20px;
        line-height: 30px;
        position: absolute;
        top: 0;
        text-align: center;
        width: 30px;
      }
    }
  }

  ion-content {

  }
}
