<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de ejercicios
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div class="search-container">
      <input type="text" (ngModelChange)="updateCurrentData();" [(ngModel)]="session.filterCriteria">
      <ion-icon name="search"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngFor="let group of session.dictionary">
      <ion-list>
        <ion-list-header>
          {{ group.type }}
        </ion-list-header>
        <ng-container *ngFor="let muscle of group.excercises">
          <ion-item (click)="showCatalogItem(muscle)">
            <ion-avatar item-start>
              <img src="{{ muscle.img }}">
            </ion-avatar>
            <h2>{{ muscle.name | translate }}</h2>
            <h3><ng-container *ngFor="let eq of muscle.machines">{{ eq.S | translate }}. </ng-container></h3>
            <p>{{ muscle.place | translate }}</p>
          </ion-item>
        </ng-container>
      </ion-list>
    </ng-container>
</ion-content>
