<ion-header>
  <ion-navbar [ngClass]="{ 'logged': user.isLogged }">
    <ion-title showWhen="android" *ngIf="!user.isLogged">
      {{ 'bienvenido' | translate }}
    </ion-title>
    <div class="about-button" (click)="showContact()">
      <img class="about-icon" src="./assets/img/kiinitro fitness 2.png"/>
      <span class="about-label">{{ 'about_us' | translate }}</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="banner" *ngIf="!user.isLogged">
    <!--<img src="./assets/img/kiinitro fitness 2.png"/>-->
    <ion-icon name="contact"></ion-icon>
  </div>
  <form class="log-form" [formGroup]="loginForm" (submit)="loginUser()" *ngIf="!user.isLogged" novalidate>
    <ion-item>
      <ion-label stacked>{{ 'mail' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'password' | translate }}</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <div *ngIf="!user.isLogged" class="create-account" ion-button block clear (click)="goToSignup()">
      {{ 'sign in' | translate }}
    </div>
    <div class="button-container">
      <button ion-button block type="submit" [disabled]="!loginForm.valid">
        {{ 'iniciar' | translate }}
      </button>
    </div>
  </form>

  <div class="separator" showWhen="android" *ngIf="!user.isLogged">
    <br />
    <br />
    <div class="separator-element line"><hr /></div>
    <div class="separator-element"> o con&eacute;tate con</div>
    <div class="separator-element line"><hr /></div>
  </div>
  <div class="login-methods">
    <br />
    <div showWhen="android" *ngIf="!user.isLogged" class="other-methods google" (click)="logByGoogle();">
      <ion-icon name="logo-google"></ion-icon>
    </div>
    <div showWhen="android" *ngIf="!user.isLogged" class="other-methods facebook" (click)="logByFacebook();">
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
  </div>

  <div class="user-info" *ngIf="user.isLogged">
    <p class="title" *ngIf="user.data.displayName">
      {{ user.data.displayName }}
    </p>
    <p class="title" *ngIf="!user.data.displayName">
      {{ user.data.email }}
    </p>
    <p class="subtitle">Active</p>
    <br />
    <div class ="ion-avatar">
      <!--<img src="./assets/img/kiinitro fitness 2.png"/>-->
      <ion-icon name="contact"></ion-icon>
    </div>
    <br />
    <div class="user-actions">
      <div class="action">
      </div>
      <div class="action one" (click)="saveUser()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <div class="subtitle">Guardar</div>
      </div>
      <div class="action two">
        <div class="points">{{ user.internalData.iPoints }}</div>
        <div class="subtitle">Puntos</div>
      </div>
      <div (click)="logout()" class="action three">
        <ion-icon name="power"></ion-icon>
        <div class="subtitle">Salir</div>
      </div>
      <div class="action">
      </div>
    </div>
    <br />
    <div class="user-indicators">
      <div class="indicator">
        <span class="indicator-title">Peso</span>
        <br />
        <span>{{ user.internalData.weight }} kg</span>
      </div>
      <div class="indicator">
        <span class="indicator-title">Estatura</span>
        <br />
        <span>{{ user.internalData.height }} cm</span>
      </div>
      <div class="indicator">
        <span class="indicator-title">IMC</span>
        <br />
        <span>{{ user.internalData.imc}}</span>
        <ion-icon name="help" (click)="showImcInfo()"></ion-icon>
      </div>
    </div>
    <div class="edit-user-info">
      <div class="edit-info-title">Editar información del usuario</div>
      <form method="get" [formGroup]="editForm" (submit)="editUser()" novalidate>
        <ion-item class="edit-user-field">
          <ion-label stacked>Peso (kg)</ion-label>
          <ion-input formControlName="weight"
                     type="number"
                     placeholder="Tu peso"
                     [(ngModel)]="user.internalData.weight"
                     [class.invalid]="!editForm.controls.weight.valid && editForm.controls.weight.dirty"></ion-input>
        </ion-item>
        <ion-item class="edit-user-field">
          <ion-label stacked>Estatura (cm)</ion-label>
          <ion-input formControlName="height"
                     type="number"
                     placeholder="Tu estatura"
                     [(ngModel)]="user.internalData.height"
                     [class.invalid]="!editForm.controls.height.valid && editForm.controls.height.dirty"></ion-input>
        </ion-item>
        <button type="submit" #submitSave style="display:none;"></button>
      </form>
    </div>
  </div>

  <!--<button ion-button block clear (click)="goToResetPassword()">
    I forgot my password

    <ion-card-content>
      <button ion-button (click)="changePoints();">
        Redimir {{ user.internalData.iPoints }} puntos
      </button>
    </ion-card-content>
  </button>-->
</ion-content>
