login {
  ion-navbar {
    .toolbar-background {
      background-color: #fff;
      border: none !important;
    }

    .toolbar-title {
      color: #44500D;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: #DEE4BF;
    }

    .title {
      padding: 0 10px !important;

      .toolbar-title {
        color: #2F2F2F;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  ion-content {
    .user-info {
      box-shadow: none;

      ion-avatar {
        img {
          height: 75px;
          width: 75px;
        }
      }

      h2 {
        color: #757575;
      }
    }

    .other-methods {
      display: inline-block;
      float: left;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
    }

    .facebook {
      color: #405A9A;
    }

    .google {
      color: #FF2600;
    }

    ion-card-content {
      button {
        background-color: #BDD80F !important;
        color: #44500D !important;
      }
    }

    ion-row {
      ion-icon {
        color: #BDD80F;
      }

      div {
        color: #44500D;
      }
    }
  }
}
