tabs {
  .tabbar {
    background: #2F2F2F !important;

    .tab-button {
      color: #DEE4BF;

      .tab-button-icon {
        color: #DEE4BF;
        font-size: 24px;
      }
    }

    .tab-button:hover:not(.disable-hover),
    .tab-button[aria-selected=true] {
      color: #BDD80F;

      .tab-button-icon {
        color: #BDD80F;
      }
    }
  }
}
