<ion-header>
  <ion-toolbar>
    <ion-title>
      Extras
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Por que nos gusta consentirte, ten en cuenta la siguiente información.</div>
  <h3>Sobre el registro en nuestras bases de datos.</h3>
  <ul>
    <li>El equipo de Kiinitro Fitness NO usará tus datos con el propósito de enviarte publicidad.</li>
    <li>Al registrarte en nuestra aplicación, aceptas nuestros términos y condiciones.</li>
    <li>En un futuro, y de manera voluntaria podrás suscribirte a nuestro sistema de información y noticias por e-mail.</li>
  </ul>
  <h3>Sobre la acumulación de puntos KII's</h3>
  <p>En Kiinitro Fitness puedes acumular puntos (KII's), por cada sesión diaria de entrenamiento que realices con nosotros, ¡es muy facil!</p>
  <ul>
    <li>Por registrarte y generar tu primera sesión, recibirás 100 Kii's</li>
    <li>Por cada sesión que generes y una vez finalices tu entrenamiento, recibiras 10 Kii's</li>
  </ul>
  <p>Acumula la mayor cantidad de Kii's que puedas y pronto podrás redimirlos por sorpresas que estamos preparando especialmente para tí.</p>
  <p>Inspírate, motívate y llena de bienestar tu vida.</p>
  <p>Condiciones adiciones sobre los puntos:</p>
  <ul>
    <li>Recuerda que la generación de sesiones es ilimitada.</li>
    <li>Sólo podrás acumular puntos Kii's si te registras en nuestra plataformas, de esta forma podremos ofrecerte ofertas exclusivas. No compartimos tus datos con terceros o lo utilizamos para otros propósitos.</li>
    <li>No solicitamos información de tarjetas de crédito u otras formas de pago, ni en la aplicación móvil, ni vía correo electrónico o redes sociales.</li>
  </ul>
</ion-content>
